a {
	color: inherit;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: inherit;
}
a:focus {
    text-decoration: none;
    color: inherit;
}
a:active {
    text-decoration: none;
    color: inherit;
}

button {
    display: block;
    padding: 5px;
    margin: -20px auto 20px;
    background-color: rgba(47, 0, 122, 0.794);
    color: #fff;
    border: none;
}

button:hover {
    border: none;
}